@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move {
  0%,
  100% {
    transform: rotate(0deg) translateY(0);
  }
  50% {
    transform: rotate(-5deg) translateY(-5px);
  }
}

@keyframes spin {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes glow {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(1.5) drop-shadow(0 0 10px yellow);
  }
}

.start {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  &__images {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    position: relative;
  }

  &__image-logo {
    position: absolute;
    background: url("../../images/logo.svg") no-repeat center;
    background-size: contain;
    width: 70%;
    height: 20vh;
    left: -15%;
    z-index: 5;
    animation: floating 1.5s infinite ease-in-out;
  }

  &__image-fisher {
    position: absolute;
    background: url("../../images/fisher_2.svg") no-repeat center;
    background-size: contain;
    width: 100%;
    height: 40vh;
    right: -14%;
    z-index: 4;
    animation: move 1.5s infinite ease-in-out alternate;
  }

  &__buttons {
    position: relative;
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__button-free {
    border: none;
    background: url("../../images/table_blue_small.svg") no-repeat center;
    background-size: contain;
    width: 100%;
    height: 10vh;
  }

  &__button-spin {
    border: none;
    background: url("../../images/button_spin.svg") no-repeat center;
    background-size: contain;
    width: 120%;
    height: 15vh;
    transition:
      transform 0.5s ease,
      box-shadow 0.3s ease;
    animation: pulse 2s infinite;
    cursor: pointer;

    &:hover {
      transform: scale(1.15);
    }

    &:active {
      transform: scale(1);
    }

    &--disabled {
      background: url("../../images/button_dis.svg") no-repeat center;
      background-size: contain;
      opacity: 0.6;
      animation: none;

      &:hover {
        transform: none;
      }
    }
  }

  &__button-text {
    font-family: "Sigmar One", cursive;
    font-size: clamp(2vh, 15vw, 6vh);
    line-height: 100%;
    font-weight: normal;
    color: #fff;
    -webkit-text-stroke: 2px #360443;
  }

  &__button-textfree {
    font-family: "Titan One", sans-serif;
    font-size: clamp(2vh, 10vw, 5vh);
    line-height: 100%;
    font-weight: normal;
    background: linear-gradient(180deg, #dcefff 39.5%, #c079e9 49%, #f0cdff 74.5%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #300a78;
  }

  &__slots {
    position: fixed;
    top: 25vh;
    display: block;
    background: url("../../images/place_for_slots.svg") no-repeat center;
    background-size: cover;
    max-width: 550px;
    width: 110%;
    height: 50vh;
    z-index: 6;
  }

  &__slots-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    width: 100%;
    max-width: 410px;
    margin: 0 auto;
    gap: 2%;

    @media (max-width: 500px) {
      width: 100%;
      gap: 2%;
    }

    @media (max-width: 450px) {
      width: 100%;
      gap: 2%;
    }

    @media (max-width: 400px) {
      width: 85%;
      gap: 2%;
    }

    @media (max-width: 300px) {
      width: 85%;
      gap: 1%;
    }
  }

  &__slots-container {
    position: fixed;
    top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88%;
    height: 50vh;
    z-index: 7;
    overflow: hidden;

    @media (max-width: 500px) {
      width: 88%;
    }

    @media (max-width: 450px) {
      width: 88%;
    }

    @media (max-width: 400px) {
      width: 100%;
    }

    @media (max-width: 300px) {
      width: 100%;
    }
  }

  &__slot {
    width: 120px;
    height: 50vh;
    position: relative;
    overflow: hidden;

    @media (max-width: 500px) {
      width: 120px;
    }

    @media (max-width: 450px) {
      width: 100px;
      height: 50vh;
    }

    @media (max-width: 400px) {
      width: 90px;
      height: 40vh;
    }

    @media (max-width: 300px) {
      width: 80px;
    }

    @media (max-width: 200px) {
      width: 70px;
    }

    @media (max-width: 100px) {
      width: 60px;
    }
  }

  &__item {
    position: absolute;
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-out;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 33.33%;
    }
    &:nth-child(3) {
      top: 66.66%;
    }
  }

  &__item--spinning {
    animation: spin 0.3s infinite linear;
  }

  &__item--winning {
    animation: glow 1s infinite alternate;
  }

  &__item-image {
    width: 100px;
    height: 100px;
    object-fit: contain;

    @media (max-width: 500px) {
      width: 100px;
      height: 100px;
    }

    @media (max-width: 450px) {
      width: 90px;
      height: 90px;
    }

    @media (max-width: 400px) {
      width: 80px;
      height: 80px;
    }

    @media (max-width: 300px) {
      width: 80px;
      height: 80px;
    }

    @media (max-width: 200px) {
      width: 70px;
      height: 70px;
    }

    @media (max-width: 100px) {
      width: 60px;
      height: 60px;
    }
  }
}
